
.darken-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5))
}

.side-image-background {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .8;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background: linear-gradient( rgba(0, 0, 0, .75), rgba(0, 0, 0, .75) ), url('../assets/images/mainPageImage.png');
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
  background-size: cover;
  
  -webkit-background-position: 50% 50%;
  -moz-background-position:  50% 50%;
  -o-background-position: 50% 50%;
  background-position: 50% 50%;
}