.slide-container {
    height: calc(100vh - 100px);
}

.slide-img {
    max-width: 85%;
    max-height: calc(100vh - 280px) !important;
    margin: 1rem 0;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.img-preview:hover {
    cursor: pointer;
}